<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>NLP Project</title>
</head>
<body>
    <h1>Enter Your Comment:</h1>
    <form method="POST" id="comment-form">
        <input type="text" name="user_input" id="user-input" />
        <input type="submit" value="Submit" />
    </form>

   
   
   <div id="sentiment-response">
     
      <!-- Emojis for sentiment -->
      <span id="joy-emoji" style="display: none;">😃</span>
      <span id="anger-emoji" style="display: none;">😡</span>
      <span id="fear-emoji" style="display: none;">😱</span>

      <!-- sentiment and explanation -->
      <div id = "response-text"></div>
      <div id="sentiment-explanation"></div>
   </div>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="static/script.js"></script>

</body>
</html>